#counter{
    font-size:2.5em;
    text-align: center;
    padding-left: 85px;
    font-weight: 500;
}
.btn{
    background-color: aqua;
    border-radius: 5px;
}
.btn:hover{
    background-color: rgb(198, 226, 43);
}